body, html {
    margin:0;
    padding:0;
    background-color: rgb(218, 166, 80);
    font-family: Arial;
}

.header{
    margin:0 0 20px 0;
    color: rgb(252, 214, 77);
    background:rgb(224, 175, 73);
    border-bottom:2px solid rgb(252, 214, 77);
    box-shadow:inset 1px 1px 0 rgba(255,255,255,.6),0px 2px 2px rgba(0,0,0,.15);
    min-height:50px;
}

.type1,
.type2,
.level,
.forme,
.base,
.ivs,
.evs,
.boost,
.nature,
.ability,
.item,
.status,
.current-hp,
.percent-hp,
.move-bp,
.move-type, 
.move-cat,
button,
textarea,
input {
    color: #000;
    background:#fff;
    border:1px solid #aaa;
}

.header a {
    color: #ffffff;
    text-decoration: none;
}

.header-inner {
    max-width:960px;
    margin:0 auto;
}

.header-logo {
    float: left;
}

.nav,.nav li,.nav-play,.nav-play li{
    display:block;
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.nav{
    padding:15px 6px 15px 6px;
}


.themeselect {
	display:block;
    list-style:none;
    margin:0;
    padding:0;
	float: right;
	padding:15px 6px 15px 6px;	
} 


.button{
    outline:none;
    cursor:pointer;
    text-align:center;
    text-decoration:none;
    text-shadow:0 1px 0 rgba(255,255,255,.4);
    border-radius:5px;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2),inset 0 -1px 2px rgba(255,255,255,1);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,.2),inset 0 -1px 2px rgba(255,255,255,1);
    box-shadow:0 1px 2px rgba(0,0,0,.2),inset 0 -1px 2px rgba(255,255,255,1);
    white-space:nowrap;
    color:#222222;
    border:solid 1px #AAAAAA;
    background:#e3e3e3;
    background:-webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#e3e3e3));
    background:-moz-linear-gradient(top,#f6f6f6,#e3e3e3);
    background:linear-gradient(top,#f6f6f6,#e3e3e3);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6',endColorstr='#e3e3e3');
}

.button:hover{
    background:#cfcfcf;
    background:-webkit-gradient(linear,left top,left bottom,from(#f2f2f2),to(#cfcfcf));
    background:-moz-linear-gradient(top,#f2f2f2,#cfcfcf);
    background:linear-gradient(top,#f2f2f2,#cfcfcf);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2',endColorstr='#cfcfcf');
    border-color:#606060;
}

.button:active{
    background:-webkit-gradient(linear,left top,left bottom,from(#cfcfcf),to(#f2f2f2));
    background:-moz-linear-gradient(top,#cfcfcf,#f2f2f2);
    background:linear-gradient(top,#cfcfcf,#f2f2f2);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcfcf',endColorstr='#f2f2f2');
}

.wrapper{
    padding:0 1em;
    max-width:1247px;
    margin:0 auto;
}

.set-selector {
    width: 26em;
}
.panel {
  margin: 5px;
  background-color: #ffea9f;
  border: medium none;
  border-radius: 2px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  background-color: rgb(224, 175, 73);
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  color: #ffffff;
}

.banner {
    text-align: center;
    margin-top: 10px;
}

.footer {
    clear: both;
    padding-top: 10px;
    text-align: center;
    font-size: 0.7em;
}

h1 {
    margin: 0;
    font-size: 18px;
}

h1 a {
    color: #ffba00;
    text-decoration: none;
}
