---
layout: default
title: cantsaycalc BETA
---
<html lang="us">
<link rel="icon" type="image/png" href="//cantsay.github.io/_images/favicon.ico" />

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8" />
	{% seo %}
	<title>{{ page.title }}</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link id="select2css" type="text/css" rel="stylesheet" href="/_css/select2.css" />
	<link id="apcalccss" type="text/css" rel="stylesheet" href="/_css/ap_calc.css" />
	<link id="nbcalccss" type="text/css" rel="stylesheet" href="/_css/nb_calc.css" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="/_scripts/themes.js"></script>
	<base target="_blank">
	{% assign is_local = "true" %}
	{% if site.url contains ".github.io" %}
	{% assign is_local = "false" %}
	{% endif %}
	{% if is_local == "false" %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115954423-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "UA-115954423-1");
	</script>

	<!-- Ads By Google -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-3144273328815394",
			enable_page_level_ads: true
		});
	</script>
	{% endif %}

</head>

<body>

	{% include header_bar.html %}

	<div class="container">

		{{ content }}

	</div>
	<script>
		if (document.getElementById("theme") != null && document.getElementById("midimg") != null) {
			var drop = $("#theme").val();

			if (drop === "aegislash") {
				$('#midimg')[0].src = "../_images/aegi trozei.png";
			} else if (drop === "dark") {
				$('#midimg')[0].src = "../_images/shiny aegi trozei.png";
			} else if (drop === "legacy") {
				$('#midimg')[0].src = "../_images/shiny aegi trozei.png";
			} else if (drop === "volcarona") {
				$('#midimg')[0].src = "../_images/volc.png";
			} else if (drop === "lgpe") {
				$('#midimg')[0].src = "../_images/pika.jpg";
			}
		}
	</script>
	<script type="text/javascript" src="../_scripts/themes_choose.js"></script>

	<div class="privacyNotice" style="color:#000;border:solid black 2px;border-radius:4px;z-index:999;text-align:center;position:fixed;bottom:0;width:70%;margin-left:15%;padding-top:4px;background-color:#ffffab;display:none;">
		This site uses cookies for analytics and personalized content. By continuing to browse this site, you agree to this use.
		<br />
		<a id="cookie-dismisser" style="text-decoration:underline;cursor:pointer;">Click here to dismiss this message</a>.
		<br />
		<br />
		Learn more about our use of <a href="./privacy/">cookies</a> and how to control them on our site.
	</div>

	{% include footer.html %}

	<script type="text/javascript" src="../_scripts/cookieNotice.js"></script>

</body>

</html>